$text-color: #1a429c;
$sec-text-color:rgb(170, 170, 170);
$primary-color: #1976d2;

.logo-cont,
.logo-cont2 {
    // margin-right: 80px;
    color: $text-color;
    text-decoration: none;
    font-size: 20px;
    font-family: "alata"; 
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    // margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sidenav-cont {
    // border: 2px solid red;
    // padding-left: 25%;
    // padding-left: 3%;
    // padding: 30px;
    height: 100vh;
    width: 4%;
    // border: 2px solid  rgb(255, 0, 0);
    background-color: #182030;
    display: flex;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}






.off-small-icon {
    margin-top: 80px;
}


.offcanvas-header {
    padding-bottom: 0px;

    
        button {
            color: white !important;
        }
    
}

button.btn-close {
    color: white !important;
}


.burger-cont {
    display: none;
}


.btn-primary {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none;
    margin-bottom: 30px;

}

.btn-primary:focus, .btn:focus {
    outline: none !important;
    box-shadow: none;
}




.css-10hburv-MuiTypography-root {
    color:  white !important;
    font-weight: 300 !important;
    font-family: "Alata" !important;
}

.css-tzssek-MuiSvgIcon-root, .css-i4bv87-MuiSvgIcon-root {
color: white !important;
font-size: 25px !important;
}
.css-cveggr-MuiListItemIcon-root {
    min-width: 20% !important;
}


.offcanvas {
    background-color: #182030 !important;
 
}


.nav-details {
    display: flex;
    margin-top: 40px;
    flex-direction: column;


    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.747);
        font-family: 'Alata', sans-serif;
        font-size: 17px;
        margin-bottom: 10px;
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 0.3s ease-in-out !important;


        svg {
            margin-right: 10px;
        }

    }
    :hover {
        color: #5679ca;

    }
}

.nav-categories {
    display: flex;
    margin-top: 10px;
    flex-direction: column;

    p {
        color: $text-color;
        margin-bottom: 10px;    
        font-family: 'Ubuntu', sans-serif;
        background-color: $sec-text-color;
        padding: 10px 9px;
        font-weight: 500;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.747);
        font-size: 17px;
        // line-height: 0.2rem;
        font-weight: 300;
        margin-bottom: 10px;
        display: flex;
        font-family: 'Alata', sans-serif;
        align-items: center;
        transition: 0.3s ease-in-out;

        svg {
            margin-right: 10px;
        }

    }

    :hover {
        color: #5679ca;

    }
}


@media (max-width: 730px){
    .off-small-icon {
        button {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }


}



@media (max-width: 534px){
    .off-small-icon {
        display: none;
    }

    .sidenav-cont {
        z-index: 300;

        width: 0 !important;
        position: fixed !important;
        left: -900px !important;
    }

    .logo-cont2 {
        display: none;
    }

    .burger-cont {
        position: fixed;
        display: block;
        left: 10px;
        top: 18px;
        z-index: 6000 !important;
        // border: 5px solid red !important;

        svg {
            color: #182030 !important;
            font-size: 30px !important;
            z-index: 200;

        }
    }


}