.home-cont {
    width: 96%;
    // height: 100vh;
    // margin-top: 60px;
    // padding-bottom: 60px;
    // border:3px solid blue;
    margin-left:4%;
    // display: flex;
}


@media (max-width: 534px){
    .home-cont {
        width: 100%;
        margin-left: 0 !important;
    }

    .caro-cont {
        margin-top: 60px;
    }

}


.home-whole-cont {
    display: flex;
}

.carousel-caption {
    // position: absolute !important;
    top: 20% !important;
    text-align: left !important;
    left: 10% !important;

    h3 {
        font-size: 70px;
        transition: 0.2s ease-in;
    }

    p {
        font-size: 20px;
        transition: 0.2s ease-in;

    }

    h4 {
        width: 50%;
        transition: 0.2s ease-in;

    }
    
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none !important;
}

.carousel {
    background-color: antiquewhite;
    width: 100%;
    overflow: hidden;
    // height: 100vh;
    background-size: cover;
     background-repeat: no-repeat;
}

.carousel-item > img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item, .carousel-inner {
    overflow-y: hidden !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.trending {
    margin-top: 20px;
    margin-left: 3%;
}

.stores-cont {
    width: 95%;
    margin-left: 3%;
}




// CARD (EACH PRODUCT)

.each-product {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
    max-width: 225px;
    cursor: pointer;
}


.css-ad7p68-MuiPaper-root-MuiCard-root {
    box-shadow: none !important;
}


.css-r40f8v-MuiTypography-root {
   text-overflow: ellipsis !important;
overflow: hidden !important;
white-space: nowrap !important; 
}

.css-h93ljk-MuiTypography-root {
    font-size: 15px !important;
    font-weight: 500 !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important; 
}

.css-18k87ye-MuiTypography-root {
    font-size: 15px !important;
    font-style: italic !important;
}

.css-1t6e9jv-MuiCardActions-root {
    padding-top: 0px !important;
}

.css-46bh2p-MuiCardContent-root {
 padding-bottom: 0px !important;
}

// GRIDING MY STORE ITEM
    .stores-cont {
        width: 95%;
        margin-left: 3%;
        display: grid;
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
        justify-content: center;
        align-items: center;
        grid-row-gap: 30px;
        grid-column-gap: 30px ;
    }


@media (max-width: 1064px) {
    .stores-cont {
        display: grid;
        grid-template-columns: 32% 32% 32%;
    }
}


@media (max-width: 858px) {
    .stores-cont {
        display: grid;
        grid-template-columns: 45% 45%;
    }
}


@media (max-width: 908px) {
    .carousel-caption {
        h3 {
            font-size: 50px;
        }

        p {
            font-size: 15px;
        }
    }
}


@media (max-width: 662px) {
    .carousel-caption {
        h3 {
            font-size: 30px;
        }

        p {
            font-size: 12px;
        }

        button {
            margin-top: 10px;
            font-size: 10px !important;
        }
    }
}
